@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    border-radius: 20px;
    border:1px solid black;
}

header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
header, main, footer{
    width: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
}

.headerAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.headerUsuario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 20px;
    margin-bottom: 30px;
    flex-direction: row;
    width: 90%;
}

.headerName{
    width: 65%;
}
.headerName span{
    font-size: 0.8rem;
    color: rgba(153, 153, 153, 1);
}
.headerNomeUsuario{
    font-size: 1.5rem;
}
.headerUsuario i{
    font-size: 2rem;
    color: #8877F1;
}
.historico{
    width: 90%;
}
.historicoFiltro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.historicoFiltro a{
    text-decoration: none;
    background-color: #E9E7FC;
    padding: 5px 10px;
    border-radius: 10px;
    color: #000000;
    /* EM JAVASCRIPT, APLICAR CLASSE A COR rgba(136, 119, 241, 1) AO CLICAR */
}
.historicoFiltro a:hover{
    background-color: rgba(136, 119, 241, 1);
}
.historico span{
    font-size: 1.5rem;
}

.smallCard{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.extType{
    border-radius: 15px;
    background-color: #FEEDDA;
    color: rgba(252, 147, 25, 1);
}

.extType, .extSinalizacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 1.2rem;
}

.extNumber span{
    font-size: .8rem;
    color: rgba(153, 153, 153, 1);
}

.extSinalizacao{
    color: rgba(73, 173, 204, 1);
}

footer{
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    font-size: 2rem;
    padding: 5px 0;
    padding: 15px 0;
    color: rgba(186, 176, 252, 1);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    position: sticky;
    bottom: 0;
}
.footerDot{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgba(186, 176, 252, 1);
    border-radius: 50%;
    left: 17.5%;
    bottom: 4px;
}
.footerActive{
    color: rgba(136, 119, 241, 1);
}
footer a{
    text-decoration: none;
    color: rgba(186, 176, 252, 1);
    transition: all .5s ease-in-out;
}
footer a:hover{
color:rgba(136, 119, 241, 1)
}